

.intro{
    display: flex;
    flex-flow: row;
    padding-top: 80px;
    /* align-items: center; */
    justify-content: center;

    
}

.container-avatar{
    margin:auto;
}

.hi{
    margin:auto;
    width:350px;
}

.avatar{
    display: flex;
    /* margin-right: 40px; */
    align-items: center;
    /* margin-right: 40px; */
    /* align-items: center; */
    /* margin-top: 40px; */
    margin-bottom: 0px;
    width: 140px;
    
    height: 140px;
    border-radius: 50%;
    
}

.introText{
    display: block;
    width: 50%;
    margin-top: 70px;
    margin:auto;
}

.edu{
    border: 3px solid linear-gradient(to right, red, purple);
    margin-top: 60px;
    padding: 70px;
}

#eduList{
    margin:5px;
}

.education{
    font-size: 17px;
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.edsvg{
    height: 50px;
    width: 51px;
    display: inline-block;
    margin-left: 30px;
}

.institutes{
    display: flex;
    flex-flow: column;
    /* align-content: center; */
    justify-content: center;
    align-items: center;   
}

.skills{
    border: 3px solid linear-gradient(to right, red, purple);
    margin-top: -40px;
    padding: 70px;
}

.edsvg2{
    
    width: 35px;
    display: inline-block;
    margin-left: 30px;
}

.skillSet{
    font-size: 17px;
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.skill{
    display: flex;
    flex-flow: column;
    
    align-items: center;
}

.skList{
    display: flex;
    flex-flow: column;
}

.skillItems{
    font-size: 20px;
    padding-top: 20px;
    font-weight: 600;
}

.edsvg3{
    
    width: 55px;
    display: inline-block;
    margin-left: 30px;
}



table, td {
    border: 1px solid black;
}

td{
    
    padding: 5px 50px 5px 50px;
}

tr{
    padding: 20px;
}