html{
  display:inline-block;
  white-space:initial;
  background-color: #212020;

}

body{
  background-color: #212020!important;
}

h1,h2,h3, p,span{
  color:white;
}

#heading{

  margin: 20px;
}

.jumbotron{
  background-color: #2d2d2d !important;
}

.email{
  display: inline-block;
  position: relative;
  margin-top = -12%;
  margin-right: 20%;
  float : right;
}

#rajat{
  width: 215px;
  display: inline;
}
.list-container{
  border-style: solid;
  margin-top: 20px;

  display: inline-block;
}

p {
    word-break: break-all;
    white-space: normal;
}

.bio{
  font-size: 11px;
}


.line-1{
    display: inline-block;
    border-right: 2px solid rgba(255,255,255,.75);

    font-size: 140%;
    white-space: nowrap;

    overflow: hidden;
    font-family: 'Source Code Pro', monospace;

}

/* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(29, end) 1s infinite alternate,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 215px;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.50);}
  to{border-right-color: gold;}
}

.pod{
  position: relative;
  top: -65px;
  padding: 4rem 2rem;
}

.pr{
  text-align: center;
}
