html{
  background-color: #212020;
  color: white;
  font-family: 'Recursive', sans-serif;
}

body{
  margin:0px;
}



#heading{

  margin: 20px;
}



/* h1,h2,h3, p,span{
  color:white;
} */

#jumb{
  background-color:#2d2d2d;
}


.top-part{
  background-color: #2d2d2d;
}

.email{
  display: inline-block;
  position: relative;
  margin-top = -12%;
  margin-right: 20%;
  float : right;
}

#rajat{
  width: 215px;
  display: inline;
  margin-left: 30px;
  margin-top: 30px;
}

.name{
  margin-left: 40px;
  margin-right: 40px;
}

.list{
  border-style: solid;
  margin-top: 20px;


  display: inline-block;
}

.projects{
  margin-left: 16px;
  margin-right: 25px;
}
a{
  color: #aaf2f2;
}

p {
    word-break: break-all;
    white-space: normal;
}

.bio{
  font-size: 11px;
  margin-left: 40px;
  padding-bottom: 10px;
  margin-right: 40px
}


.line-1{
    display: inline-block;
    border-right: 2px solid rgba(255,255,255,.75);

    font-size: 140%;
    white-space: nowrap;

    overflow: hidden;
    font-family: 'Source Code Pro', monospace;
    margin-top: 0px;
}

/* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(29, end) 1s infinite alternate,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 215px;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.50);}
  to{border-right-color: gold;}
}

.pod{
  position: relative;
  top: -65px;
  padding: 4rem 2rem;
}

.pr{
  text-align: center;
}




/* white mode toggle */
